.top-container {
  @apply w-full h-full fixed;

  .circle-container {
    @apply w-screen h-screen relative;
  }

  .main-container {
    @apply fixed top-0 left-0 w-full h-full flex;

    .body-container {
      @apply grow;

      .logo {
        @apply absolute bottom-10;
        @apply w-[15vw] ms-10;
      }
    }

    .login-container {
      @apply h-full items-center justify-center flex px-32;

      .login {
        @apply absolute w-full px-44 -mt-32;

        font-family: "Alata", sans-serif;
        font-weight: 400;
        font-style: normal;

        .title {
          @apply text-4xl;
          @apply mb-24;
        }
      }
    }
  }
}
